.your-bubble {
    border-radius: 35px;
}

.reply-button {
    font-family: var(--main-text-font);
    width: 100px;
}

.name-container {
    width: 40%;
    padding: 5px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.bubble-text {
    padding: 0;
}